<paper-toast #toastErrorLogin id="toastErrorLogin" class="fit-bottom" text="Falla autenticación" duration="0" style="font-size: x-large;" >
    <paper-button onclick="toastErrorLogin.toggle()" style="text-transform: none;color: #eeff41;">Cerrar</paper-button>
</paper-toast>

<div >
    <div class="row text-center" style="    margin-top: 100px;">
        <h2>Proveedores</h2>
    </div>
    <div class="row text-center" >
        <iron-image src="assets/img/logo-cimav-medio.png" ></iron-image>
    </div>

    <div class="col-md-4 col-lg-offset-4" >
    <form #loginForm="ngForm"  (ngSubmit)="onSubmit()"  novalidate > <!-- (ngSubmit)="f.form.valid && login()" #f="ngForm"  $event.value -->
        <div class="row">
            <paper-input (change)="rfcOnChange($event)" id="rfc-paper-input" pattern="^([A-ZÑ\x26]{3,4}([0-9]{2})(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-9]|3[0-1]))([A-Z\d]{3})?$"  label="RFC" char-counter maxlength="13" minlength="10" required auto-validate error-message="El RFC debe ser valido" name="rfc"  [(ngModel)]="model.rfc"></paper-input>
        </div>
        <div class="row">
            <paper-input type="password"  label="Password" required char-counter maxlength="12" minlength="8" auto-validate error-message="Mínimo 8 caracteres con al menos una letra y un número" name="password"  [(ngModel)]="model.password"></paper-input>
            <!--                     pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" -->
        </div>
        <div class="row" style="float: right; margin-top: 15px;">
            <paper-button class=" indigo" (click)="loginForm.ngSubmit.emit();" raised>Ingresar</paper-button> <!-- (click)="loginForm.ngSubmit.emit(loginForm);"   (click)="login()" [disabled]=!loginForm.form.valid  -->

            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
<!--            <a [routerLink]="['/register', model.rfc]" class="btn btn-link">Register</a>  -->

        </div>
    </form>
    </div>

</div>
