


<router-outlet style="    background-color: #F2FAF9;"></router-outlet>


<!-- main app container -->
<!--
  <div class="container">
    <div class="col-sm-8 col-sm-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
-->

<!--

<app-drawer-layout fullbleed >

    <app-drawer>
        <app-toolbar class="app-toolbar-drawer">
        </app-toolbar>
        <paper-scroll-header-panel class="" style="height: 100%;">
        </paper-scroll-header-panel>
    </app-drawer>

    <app-header-layout has-scrolling-region>
        <app-header fixed condenses effects="waterfall"> &lt;!&ndash; &ndash;&gt;
            <app-toolbar>

                <div main-title>Proveedores</div>

                <h1 >Holax</h1> &lt;!&ndash; *ngIf="currentProveedor">Hi {{currentProveedor.rfc}}! - {{currentProveedor.razon_social}} </h1> &ndash;&gt;
                <p><a [routerLink]="['/login']">Logout</a></p>

                <paper-progress value="100"  bottom-item ></paper-progress>
            </app-toolbar>
        </app-header>

        <router-outlet></router-outlet>

    </app-header-layout>

</app-drawer-layout>

-->
