html, body {
  height: 100%;
  margin: 0;
  background-color: #F2FAF9;
}

rootxxx {
  --dark-primary-color: #37474F;
  --primary-color: #80CBC4;
  --light-primary-color: #F2FAF9;
  --text-primary-color: #FFFFFF;
  --accent-color: #00BFA5;
  --primary-background-color: #FFFFFF;
  --primary-text-color: #666666;
  --secondary-text-color: #727272;
  --disabled-text-color: #BDBDBD;
  --divider-color: #B6B6B6;

  --drawer-menu-color: #ffffff;
  --drawer-border-color: 1px solid #ccc;
  --drawer-toolbar-border-color: 1px solid rgba(0, 0, 0, 0.22);

  --paper-menu-background-color: #fff;
  --menu-link-color: #111111;
}


app-toolbar {
  background: #37474F; /* var(--primary-color); */
  color: var(--dark-theme-text-color);
}

app-header-layout {
  position: inherit;
}

paper-item {
  min-height: 36px;
}

paper-button.lowercase {
  text-transform: lowercase;
}
paper-button.capitalize {
  text-transform: capitalize;
}

app-drawer {
  --app-drawer-scrim-background: #37474F; /*rgba(0, 0, 100, 0.8); */
  --app-drawer-content-container: {
   /* background-color: #B0BEC5; */
  }
}

.app-toolbar-drawer .logo {
/*  background-color: #B0BEC5; /* #00cc99; */
}

paper-fab.blue {
}
paper-fab {
  display: inline;
}

paper-menu {
  --paper-menu-background-color: #B0BEC5;
  /* height: 100%;*/
}

xxxpaper-menu .badge-left {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #4CAF50;
  line-height: 1em;
  position: relative;
  left: 0;
  top: 0;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
  height: 36px;
}
xxxpaper-menu .badge-right {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #4CAF50;
  line-height: 1em;
  position: relative;
  top: 0;
  height: 1.8em;
  margin-left: .8em;
  border-radius: 0px 4px 4px 0;
  height: 36px;
  right: 0px;
}
.badge-center {
  width: 100%;
  overflow: hidden;
}

xxxpaper-menu  paper-item {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
xxpaper-menu paper-item.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
xxpaper-menu  paper-item:hover  {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
/*  border: #4bff0f dashed 1px; */
}
xxpaper-menu .text {
  position: relative;
  top: -3px;
}
iron-icon.big {
  width: 36px;
}

/*
#selectionBar.paper-tabs {
  background-color: #ff4081;
  z-index: 1;
  border-bottom: 4px dotted brown;
}
*/
paper-tabs {
/*  --paper-tabs-selection-bar-color: green; */
  --paper-tabs-selection-bar: {
    z-index: 1;
    border-bottom-width: 5px;
  };
 /* background-color: #F2FAF9;  /*  #80CBC4; */
  font-size: large;
    background-color: #80CBC4;
}
paper-tabs paper-tab.iron-selected  {
  color: #ffff8d;
  background-color: #80CBC4;
}

#documentos_tab_id, #facturas_tab_id {
    padding-top: 30px;
    /*max-width: 800px;*/
    margin: 10px auto;
}
.panel {
    border-radius: 0px;
}

paper-input {
    --paper-input-container-input: {
        text-transform:uppercase;
    }
}

.group-header,
.group-item {
  padding: 10px 20px;
  background-color: white;
  font-size: 15px;
  border-top: 1px solid #e7e7e7;
}
.group-item {
  /* @apply --layout-horizontal; */
  cursor: pointer;
/*  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd; */
    display: block;
}
.group-header {
  font-weight: bold;
/*  border: 1px solid #ddd; */
  color: #333;
  margin-top: 20px;
}
.group-header:before {
  content: '';
  border-top: 1px solid #ddd;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.avatar {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: #DDD;
  margin-right: 16px;
}
.pad {
  line-height: 20px;
  width: 100%;
}
.secondary {
  color: gray;
  margin-left: 10px;
  float: right;
}
.state-list {
  width: 250px;
  height: 80vh;
  color: black;
}
.panel-body {
    padding: 0;
}

.panel-footer {
/*  height: 50px;
  padding: 10px 0 0 0; */
  font-size: smaller;
  color: #555;
}

iron-image {
  margin-left: 0px;
  margin-right: 20px;
  background-color: white;
  border-radius: 36px/24px;
  padding: 2px;
}

input[type="file"] {
  display: none;
}
#seleccionar-btn {
  float: right;
/*  top: 26px; */
}
paper-tab {
  font-size: xx-large;
}
paper-button {
  padding: 3px 8px;
  background-color: #80CBC4;
  color: white;
  font-size: small;
}
paper-button[disabled]{
  background-color: #dddddd !important;
  color: white;
}
paper-button:hover {
  background-color: #37474F;
}
paper-progress {
  width: 100%; bottom: -5px;
}
#subir-all-factura-btn {
  float: right;
}
#seleccionar-factura-btn {
    float: right;
  /*   top: 26px;*/
    /*top: -4px;
    right: -14px;*/
}
.btn-depende-orden[disabled]{
    color: #BDBDBD !important;
}

.ul-ayuda iron-icon {
    height: 18px;
}
